<div style="margin: 20px auto;">

  <form [formGroup]="AppareilForm" (ngSubmit)="onFormSubmit()">

  <div class="card" >
    <div class="card-body">

      <div class="input-group mb-3">
        <input type="text" class="form-control custom-input" placeholder="Label" aria-label="label" aria-describedby="basic-addon1" formControlName="label">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control custom-input" placeholder="Description" aria-label="description" aria-describedby="basic-addon1" formControlName="description">
      </div>
      <div class="input-group mb-3">
        <div class="custom-control custom-radio" style="margin-left: 5%;">
            <input type="radio" id="state" class="custom-control-input" formControlName="state" value="true" name="state">
            <label class="custom-control-label" for="state">On</label>
        </div>

        <div class="custom-control custom-radio" style="margin-left: 5%;">
            <input type="radio" id="id_option_2" class="custom-control-input" formControlName="state" value="false" name="nom_du_groupe">
            <label class="custom-control-label" for="id_option_2">Off</label>
        </div>
    </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control custom-input" placeholder="image" aria-label="image" aria-describedby="basic-addon1" formControlName="image" >
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button class="btn btn-primary"  type="Submit">{{data ? 'Modifier' : 'Ajouter'}} </button>
      <button class="btn btn-secondary ml-2"   type="button">Annuler</button>
    </div>

  </div>
  </form>
</div>
